* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  line-height: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 1rem;
  overflow: hidden;
}

#main-header {
  background: #c63669;
  color: #fff;
  -webkit-box-shadow: 0 2px 7px 1px #333;
          box-shadow: 0 2px 7px 1px #333;
}

#main-header #main-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5rem 0;
  font-weight: 900;
}

#main-header #main-navbar img {
  width: 15%;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

#main-header #main-navbar img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#main-header #main-navbar .fas {
  display: none;
}

#main-header #main-navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

#main-header #main-navbar ul li {
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

#main-header #main-navbar ul li a {
  color: #e6286a;
  margin: 0 1.2rem;
  text-transform: uppercase;
  background: #b22657;
  padding: 0.6rem 1rem;
  border-radius: 20px;
  text-align: center;
  -webkit-box-shadow: inset 2px 2px 2px 1px #831e41, inset -2px -2px 2px 1px #b22657;
          box-shadow: inset 2px 2px 2px 1px #831e41, inset -2px -2px 2px 1px #b22657;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

#main-header #main-navbar ul li a:hover {
  background: #dd4379;
  color: #fff;
  -webkit-box-shadow: 0px 2px 6px -1px #fff, -0px -2px 6px -1px #fff;
          box-shadow: 0px 2px 6px -1px #fff, -0px -2px 6px -1px #fff;
}

#main-header #main-navbar ul li:first-child a {
  background: #dd4379;
  color: #f1dfe7;
  -webkit-box-shadow: 0px 2px 6px -1px #fff, -0px -2px 6px -1px #fff;
          box-shadow: 0px 2px 6px -1px #fff, -0px -2px 6px -1px #fff;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

#main-header #main-navbar ul li:first-child a:hover {
  background: #b22657;
  -webkit-box-shadow: inset 1px 1px 1px 1px #831e41, inset -1px -1px 1px 1px #b22657;
          box-shadow: inset 1px 1px 1px 1px #831e41, inset -1px -1px 1px 1px #b22657;
  color: #e6286a;
}

#main-header #main-navbar ul li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#main-header #main-navbar .social {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#main-header #main-navbar .social a {
  margin: 0 0.8rem;
}

#main-header #main-navbar .social a i {
  color: #fff;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  border: 3px solid #f7548d;
  padding: 0.5rem;
  border-radius: 50%;
  text-align: center;
}

#main-header #main-navbar .social a i:hover {
  -webkit-transform: rotate(360deg) scale(1.2);
          transform: rotate(360deg) scale(1.2);
  -webkit-box-shadow: 0px 2px 6px -1px #fff, -0px -2px 6px -1px #fff;
          box-shadow: 0px 2px 6px -1px #fff, -0px -2px 6px -1px #fff;
  border-color: #fff;
}

#kids {
  background: url("../img/showcase.jpg") no-repeat center center/cover;
  color: #fff;
  font-weight: 900;
}

#kids .card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

#kids .card .item {
  margin-top: 1.5rem;
}

#kids .card .item h1 {
  text-transform: uppercase;
  font-size: 8rem;
  line-height: 8rem;
}

#kids .card .item img {
  -webkit-filter: drop-shadow(0 -5mm 4mm #e1577b);
          filter: drop-shadow(0 -5mm 4mm #e1577b);
}

#kids .card .item .circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3rem;
}

#kids .card .item .circle div {
  height: 35px;
  width: 35px;
  background: #a92755;
  margin-right: 1rem;
  border-radius: 50%;
  -webkit-box-shadow: inset 1px 1px 1px 1px #831e41, inset -1px -1px 1px 1px #b22657;
          box-shadow: inset 1px 1px 1px 1px #831e41, inset -1px -1px 1px 1px #b22657;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

#kids .card .item .circle div:first-child {
  background: #fa9d64;
  border: 4px solid #fffdff;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

#kids .card .item .circle div:first-child:hover {
  background: #a92755;
  -webkit-box-shadow: inset 1px 1px 1px 1px #831e41, inset -1px -1px 1px 1px #b22657;
          box-shadow: inset 1px 1px 1px 1px #831e41, inset -1px -1px 1px 1px #b22657;
  border-color: #f6d10f;
}

#kids .card .item .circle div:hover {
  background: #fa9d64;
  border: 4px solid #fffdff;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#kids .message {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  margin-top: 3rem;
  position: relative;
  z-index: 5;
  border-radius: 5px;
}

#kids .message::after {
  content: "";
  position: absolute;
  background: url("../img/shocase-message.jpg") no-repeat;
  top: 0;
  left: 0;
  height: 80%;
  width: 100%;
  z-index: -1;
  border-radius: 5px;
}

#kids .message .item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 3rem;
}

#kids .message .item img {
  width: 55%;
  margin-top: 0.5rem;
  margin-left: 1.5rem;
  -webkit-filter: drop-shadow(0 -5mm 4mm #e1577b);
          filter: drop-shadow(0 -5mm 4mm #e1577b);
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

#kids .message .item img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#kids .message .item h2 {
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 2.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

#kids .message .item p {
  font-size: 1rem;
  font-weight: normal;
}

#kids .message .item div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

#kids .message .item div a {
  position: relative;
  color: #fff;
  background: #e46f10;
  font-size: 1rem;
  padding: 0.4rem 1.5rem;
  padding-right: 3rem;
  border-radius: 30px;
  border: 4px solid #fb9fc1;
  text-transform: uppercase;
  font-weight: bolder;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

#kids .message .item div a div {
  position: absolute;
  top: 0rem;
  right: 0rem;
  padding: 1.1rem 0.5rem;
  background: #fbb91d;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

#kids .message .item div a div i {
  font-size: 1.5rem;
  text-align: right;
  color: #fff;
}

#kids .message .item div a div:hover {
  background: #333;
}

#kids .message .item div a:hover {
  background: #f484e5;
  color: #333;
  border: none;
}

#meet {
  background: #fff;
}

#meet h1 {
  text-transform: uppercase;
  text-align: center;
  margin-top: 3rem;
  font-size: 4rem;
  margin-bottom: 1rem;
  color: #5b9ab3;
}

#meet .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#meet .card .item {
  margin: 2rem;
  border: 2px solid #e7eaf4;
  border-radius: 10px;
  padding: 0 1rem;
  -webkit-box-shadow: 1px 1px 1px 1px #383131 F61;
          box-shadow: 1px 1px 1px 1px #383131 F61;
}

#meet .card .item img {
  -webkit-filter: drop-shadow(0 1mm 4mm #d5a8a3);
          filter: drop-shadow(0 1mm 4mm #d5a8a3);
  margin: 0.5rem 0;
}

#meet .card .item h3 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  color: #6395a5;
  margin: 0.5rem 0;
}

#meet .card .item h5 {
  text-align: center;
  color: #bccdd4;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

#meet .card .item p {
  color: #6291a1;
  text-align: center;
  margin-top: -0.6rem;
  margin-bottom: 1.5rem;
  font-weight: 900;
  font-size: 0.9rem;
}

#meet .card .item div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#meet .card .item div a {
  background: #f3a513;
  padding: 0.5rem 4rem;
  border-radius: 20px;
  margin-bottom: 0.5rem;
  border: 1px solid #e6f1e9;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

#meet .card .item div a i {
  font-size: 1.5rem;
  color: #fff;
}

#meet .card .item div a i:hover {
  color: #333;
}

#meet .card .item div a:hover {
  background: #bb2f61;
}

#meet .card .item:first-child, #meet .card .item:last-child {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#meet .card .item:first-child div i, #meet .card .item:last-child div i {
  color: #bdcadb;
  border: 3px solid #d7dfea;
  padding: 1rem;
  border-radius: 50%;
  text-align: center;
}

#meet .card .item:last-child div {
  background: -webkit-gradient(linear, left top, left bottom, from(#d94916), to(#faa329));
  background: linear-gradient(to bottom, #d94916, #faa329);
  border-radius: 50%;
  -webkit-box-shadow: inset 1px 1px #d7dfea;
          box-shadow: inset 1px 1px #d7dfea;
}

#meet .card .item:last-child div i {
  color: #fff;
  border: 3px solid #d7dfea;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

#meet .card .item:last-child div i:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#creator {
  background: url("../img/background.jpg") no-repeat center center/cover;
  color: #fff;
}

#creator i {
  border: 8px solid #d63d73;
  padding: 1.5rem;
  border-radius: 50%;
  margin-top: 4rem;
}

#creator h1 {
  font-size: 3.5rem;
  line-height: 4rem;
  text-align: center;
  margin-top: -9rem;
}

#creator h1 span {
  display: block;
}

#creator .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
}

#creator .card .item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}

#creator .card .item i {
  border: none;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

#creator .card .item i:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#creator .card .item div {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 5.9rem;
  left: 3.8rem;
}

#creator .card .item div a {
  color: #fa5792;
  font-weight: 900;
  background: #b22657;
  margin-bottom: 1rem;
  padding: 0.5rem 1.5rem;
  border-radius: 20px;
  text-align: center;
  -webkit-box-shadow: 0px 2px 6px -1px #fff, -0px -2px 6px -1px #fff;
          box-shadow: 0px 2px 6px -1px #fff, -0px -2px 6px -1px #fff;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

#creator .card .item div a:first-child {
  background: #db3e73;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #fbf3f5;
  -webkit-box-shadow: 1px 1px 1px 1px #831e41, -1px -1px 1px 1px #b22657;
          box-shadow: 1px 1px 1px 1px #831e41, -1px -1px 1px 1px #b22657;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

#creator .card .item div a:first-child:hover {
  background: #b22657;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-shadow: 0px 2px 6px -1px #fff, -0px -2px 6px -1px #fff;
          box-shadow: 0px 2px 6px -1px #fff, -0px -2px 6px -1px #fff;
}

#creator .card .item div a:hover {
  background: #db3e73;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #fbf3f5;
  -webkit-box-shadow: 1px 1px 1px 1px #831e41, -1px -1px 1px 1px #b22657;
          box-shadow: 1px 1px 1px 1px #831e41, -1px -1px 1px 1px #b22657;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#creator .card .item-image {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

#creator .card .item-image img {
  width: 95%;
  -webkit-filter: drop-shadow(0.5mm 1mm 0.5mm #d5a8a3);
          filter: drop-shadow(0.5mm 1mm 0.5mm #d5a8a3);
  padding-bottom: 1rem;
}

#painter {
  padding-top: 1rem;
}

#painter .card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

#painter .card .img {
  width: 80%;
  margin: -5rem 0;
}

#painter .card .item div {
  margin: 2rem 0;
  position: relative;
}

#painter .card .item div i {
  color: #92dc62;
  margin-right: 0.2rem;
}

#painter .card .item div h5 {
  position: absolute;
  top: 0;
  left: 40%;
  margin-top: 0.3rem;
  font-size: 2rem;
  font-weight: 900;
  color: #92dc62;
}

#painter .card .item div h1 {
  font-size: 3.5rem;
  margin-top: 2rem;
  line-height: 3.5rem;
  color: #4db1fb;
}

#painter .card .item div h1 span {
  display: block;
}

#painter .card .item .wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

#painter .card .item .wrap .icon {
  position: relative;
}

#painter .card .item .wrap .icon img {
  width: 50%;
}

#painter .card .item .wrap .icon p {
  position: absolute;
  top: 1.4rem;
  left: 6.3rem;
  font-size: 0.8rem;
  line-height: 1rem;
  color: #ad8080;
}

#painter .card .item div a {
  background: #7bdb25;
  padding: 0.7rem 2rem;
  border-radius: 40px;
  color: #fff;
  border: 4px solid #64c716;
  font-weight: 900;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

#painter .card .item div a:hover {
  background: #333;
  border-color: #4db1fb;
}

#main-footer {
  background: #bb2f61;
}

#main-footer .card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

#main-footer .card .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 0.5rem;
}

#main-footer .card .link a {
  color: #fff;
  margin: 0.5rem 0.5rem;
  background: #b22657;
  padding: 0.2rem 0.8rem;
  border-radius: 30px;
  font-size: 0.7rem;
  font-weight: 900;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 2px 6px -1px #fff, -0px -2px 6px -1px #fff;
          box-shadow: 0px 2px 6px -1px #fff, -0px -2px 6px -1px #fff;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

#main-footer .card .link a:first-child {
  background: #dd4379;
  -webkit-box-shadow: 1px 1px 1px 1px #831e41, -1px -1px 1px 1px #b22657;
          box-shadow: 1px 1px 1px 1px #831e41, -1px -1px 1px 1px #b22657;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

#main-footer .card .link a:first-child:hover {
  background: #b22657;
  -webkit-box-shadow: 0px 2px 6px -1px #fff, -0px -2px 6px -1px #fff;
          box-shadow: 0px 2px 6px -1px #fff, -0px -2px 6px -1px #fff;
  color: #fff;
}

#main-footer .card .link a:hover {
  background: #dd4379;
  color: #fff;
  -webkit-box-shadow: 1px 1px 1px 1px #831e41, -1px -1px 1px 1px #b22657;
          box-shadow: 1px 1px 1px 1px #831e41, -1px -1px 1px 1px #b22657;
}

#main-footer .card .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 0.5rem;
}

#main-footer .card .social a i {
  color: #fff;
  margin: 0.5rem 1rem;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

#main-footer .card .social a i:hover {
  color: #92dc62;
  -webkit-transform: rotate(360deg) scale(1.1);
          transform: rotate(360deg) scale(1.1);
}

#main-footer p {
  font-size: 0.6rem;
  color: #fff;
  text-align: center;
}

#main-footer p a {
  color: #fff;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

#main-footer p a:hover {
  color: #92dc62;
}
/*# sourceMappingURL=style.css.map */